.main {
    height: 800px;
    width: 100%;
    background: black
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../imgs/Image.png');
    font-family: 'Nunito Sans', sans-serif;

}

.jumbo {
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;



}

.maintitle {
    display: flex;
    justify-content: center;

}

.maintitle > h2 {

}

.titleBLOG {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 35px;

}

.titleBLOG > h1 {
    font-size: 30px;
}
.maintext {
    text-align: center;


}

.h1 {
    font-size: 90px;
    text-align: center;
}

.p {
    font-size: 13px;
    text-align: center;
    word-break: break-all;
    width: 1046px;
    height: 44px;



}

.button-main1 {
    display: flex;
    width: 471px;
    height: 66px;
    margin: auto;
    padding-top: 30px;
    justify-content: center;



}

.btn1 {
    background-color: #FF0000;
    border-radius: 25px;
    border: none;
    color: white;
    font-size: 16px;
    margin: 20px;
    height: 60px;
    width: 220px;


}

.btn2 {
    background-color: white;
    border-radius: 25px;
    border: none;
    color: red;
    font-size: 16px;
    height: 60px;
    width: 220px;

}

.banner {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 17px;
    background: #00000066 0% 0% no-repeat padding-box;
    border: 2px solid #FFFFFF33;
    opacity: 1;
}
.logo {
    height: 100%;
    width: 300px;
    display: flex;
}

.logo1 {
    height: 100%;
    width: 100px;
    background-image: url('../imgs/Icon.svg');
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    background-position: right;



}

.logo2 {
    height: 100%;
    width: 100px;
    color: #FF0000;
    text-align: center;
    font-size: 35px;


}
.logo3 {
    height: 100%;
    width: 100px;
    color: white;
    font-size: 35px;



}
.menu {
    height: 100%;
    width: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 16px;
    margin-right: 50px;


}

.li1 {
    height: 100%;
    width: 120px;
}
.li2 {
    height: 100%;
    width: 120px;
}.li3 {
     height: 100%;
     width: 120px;
 }.li4 {
      height: 100%;
      width: 120px;
  }



.main {
    height: 750px;
    width: 100%;


}

.blog {
    display: flex;
    justify-content: space-evenly;
    background: white;
    align-items: center;
    padding: 1px;


}
.box {
    height: 420px;
    width: 352px;
    margin-right: 50px;
    margin-left: 50px;
    flex-direction: column;
}
.picture1 {
    height: 50%;
    width: 100%;
    background-image: url('../imgs/photo1.png');
    background-size: cover;

}
.words {
    height: 25%;
    width: 100%;
    background: white;


}

h2 {
    text-align: center;
    font-size: 19px;
    margin: auto;
}

p {
    text-align: center;
    word-break: break-all;

}
.btnn {
    border: 3px solid tomato;
    color: white;
    background: tomato;
    border-radius: 50px;
    text-align: center;




}


.picture2 {
    height: 50%;
    width: 100%;
    background-image: url('../imgs/photo2.png');
    background-size: cover;

}

.picture3{
    height: 50%;
    width: 100%;
    background-image: url('../imgs/photo3.png');
    background-size: cover;

}


.service {
    height: 643px;
    width: 100%;
    background: #28272C;
}

.container-service {

}

.maintitle {
    height: 182px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #28272C;


}
.belt1 {
    height: 100%;
    width: 60px;
    background-color: #28272C;
}

.belt2 {
    height: 100%;
    width: 60px;
    background-color: #28272C;
}

.title {
    height: 100%;
    width: 146px;
    background-color: #28272C;
    display: flex;
    align-items: center;
    font-size: 35px;
}

.title > h2 {
    font-size: 33px;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;

}


.boxes {
    height: 536px;
    width: 100%;
    background-color: #28272C;
    display: flex;
    justify-content: space-evenly;

}

.box2 {
    height: 361px;
    width: 231px;
    background-color: #28272C;

}

h2 {
    margin: 11px;
    font-size: 17px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif
    opacity: 1;

}

p {
    color: #B2B2B2;;
    font-size: 14px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    opacity: 1;
    margin-top: 27px;

}

.photo1 {
    height: 170px;
    width: 170px;
    background-image: url('../imgs/mini1.png');
    margin: auto;

}
.photo2 {
    height: 170px;
    width: 170px;
    background-image: url('../imgs/mini2.png');
    margin: auto;

}
.photo3 {
    height: 170px;
    width: 170px;
    background-image: url('../imgs/mini3.png');
    margin: auto;

}
.photo4 {
    height: 170px;
    width: 170px;
    background-image: url('../imgs/mini4.png');
    margin: auto;

}

.words-service {
    height: 136px;
    width: 231px;
}

.btnn-service {
    height: 40px;
    width: 142px;
    background-color: #28272C;
    margin: auto;
    color: white;


}
.btn-service {
    height: 40px;
    width: 142px;
    background-color: red;
    border-radius: 40px 40px 40px 40px;
    margin: auto;
    color: #FFFFFF;;
    border: none;
    font-family: 'Nunito Sans', sans-serif;
    opacity: 1;
}

.contact {
    height: 643px;
    width: 100%;
    background: white;
    display: flex;
    align-items: center;

}

.container-contact {
    height: 489px;
    width: 904px;
    background-color: white;
    margin: auto;
}

.banner-contact {
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    color: black;
    justify-content: center;
}

.belt1-contact {
    height: 100%;
    width: 60px;
    background-color: white;

}

.belt2-contact {
    height: 100%;
    width: 60px;
    background-color: white;


}

.title-contact {
    height: 100%;
    width: 165px;
    text-align: center;
    padding-right: 17px;



}

.title-contact h2 {
    color: black;
    font-size: 35px;
    font-family: 'Nunito Sans', sans-serif opacity;
    text-align: left;
    letter-spacing: 0px;
}

.main-contact {
    height: calc(100% - 82px);
    width: 100%;
    background-color: white;
    display: flex;

}
.photo-contact {
    height: calc(100% - 90px);
    width: 100%;
    background-color: white;
    background-image: url('../imgs/Form Photo.png');


}
.form {
    height: 100%;
    width: 100%;
    background-color: white;

}

#name {
    width: 420px;
    height: 38px;
    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: left;
    border-radius: 8px 8px 8px 8px;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif opacity;
    color: #B2B2B2;
    margin-left: 10px;

}

#e-mail {
    width: 420px;
    height: 38px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 8px 8px 8px 8px;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif opacity;
    color: #B2B2B2;
    text-align: left;
    margin-left: 10px;



}

#message {
    width: 420px;
    height: 140px;
    border-radius: 8px 8px 8px 8px;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif opacity;
    color: #B2B2B2;
    text-align: left;
    margin-left: 10px;




}

#chk {
    margin-left: 10px;
    margin-top: 10px;

}

h3 {
    font-size: 10px;
    color: #B2B2B2;
    font-family: 'Nunito Sans', sans-serif opacity;
    margin-left: 10px;

}

.btn-form {
    background-color: #FFFFFF;
    border: 5px red;
    border-radius: 40px 40px 40px 40px;
    box-shadow: #FF00004D;
    height: 40px;
    width: 142px;
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
    color: #FF0000;
    margin-top: 14px;
    margin-left: 303px;


}



footer {
    height: 232px;
    width: 100%;
    background: #28272C;
}

.footer-container {
    height: 232px;
    width: 100%;
    background-color: #28272C;;
}

.logo-footer {
    height: 34px;
    width: 185px;
    background-color: aquamarine;
    margin-top: 65px;
    margin-left: 139px;
    display: flex;
}

.log1 {
    height:100%;
    width:17px;
    background-image: url('../imgs/Logo Footer.svg');
    background-color: #28272C;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

.log2 {
    height: 100%;
    width: 53px;
    font-size: 25px;
    color: red;
    font-family: 'Nunito Sans', sans-serif opacity;
    background-color: #28272C;
    padding-top: 4px;
    padding-left: 4px;


}

.log3 {
    height: 100%;
    width: 115px;
    font-size: 25px;
    color: white;
    font-family: 'Nunito Sans', sans-serif opacity;
    background-color: #28272C;
    padding-top: 4px;
    padding-left: 4px;
}

.nav-footer {
    height: 97px;
    width: 1088px;
    margin-top: 65px;
    margin-bottom: 39px;
    margin-left: 139px;
    margin-right: 139px;
    display: flex;
    background-color: #28272C;

}

.nav1 {
    height: 100%;
    width: 141px;
    background-color: #28272C;
}

.nav2 {
    height: 100%;
    width: 141px;
    background-color: #28272C;


}
.nav3 {
    height: 16px;
    width: 128px;
    background-color: #28272C;
    margin-top: 80px;
    margin-left: 677px;


}

ul {
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 19px;
    color: white;
    margin-right: 10px;



}