.main {
    height: 800px;
    width: 100%;
    background: black
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../imgs/Image.png');
    font-family: 'Nunito Sans', sans-serif;

}

.jumbo {
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;



}

.maintitle {
    display: flex;
    justify-content: center;

}

.maintitle > h2 {

}

.titleBLOG {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 35px;

}

.titleBLOG > h1 {
    font-size: 30px;
}
.maintext {
    text-align: center;


}

.h1 {
    font-size: 90px;
    text-align: center;
}

.p {
    font-size: 13px;
    text-align: center;
    word-break: break-all;
    width: 1046px;
    height: 44px;



}

.button-main1 {
    display: flex;
    width: 471px;
    height: 66px;
    margin: auto;
    padding-top: 30px;
    justify-content: center;



}

.btn1 {
    background-color: #FF0000;
    border-radius: 25px;
    border: none;
    color: white;
    font-size: 16px;
    margin: 20px;
    height: 60px;
    width: 220px;


}

.btn2 {
    background-color: white;
    border-radius: 25px;
    border: none;
    color: red;
    font-size: 16px;
    height: 60px;
    width: 220px;

}

.banner {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 17px;
}
.logo {
    height: 100%;
    width: 300px;
    display: flex;
}

.logo1 {
    height: 100%;
    width: 100px;
    background-image: url('../imgs/Icon.svg');
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    background-position: right;



}

.logo2 {
    height: 100%;
    width: 100px;
    color: #FF0000;
    text-align: center;
    font-size: 35px;


}
.logo3 {
    height: 100%;
    width: 100px;
    color: white;
    font-size: 35px;



}
.menu {
    height: 100%;
    width: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 16px;
    margin-right: 50px;


}

.li1 {
    height: 100%;
    width: 120px;
}
.li2 {
    height: 100%;
    width: 120px;
}.li3 {
     height: 100%;
     width: 120px;
 }.li4 {
      height: 100%;
      width: 120px;
  }



.main {
    height: 750px;
    width: 100%;


}

.blog {
    display: flex;
    justify-content: space-evenly;
    background: white;
    align-items: center;
    padding: 1px;


}
.box {
    height: 420px;
    width: 352px;
    margin-right: 50px;
    margin-left: 50px;
    flex-direction: column;
}
.picture1 {
    height: 50%;
    width: 100%;
    background-image: url('../imgs/photo1.png');
    background-size: cover;

}
.words {
    height: 25%;
    width: 100%;
    background: white;


}

h2 {
    text-align: center;
    font-size: 19px;
    margin: auto;
}

p {
    text-align: center;
    word-break: break-all;

}
.btnn {
    border: 3px solid tomato;
    color: white;
    background: tomato;
    border-radius: 50px;
    text-align: center;




}


.picture2 {
    height: 50%;
    width: 100%;
    background-image: url('../imgs/photo2.png');
    background-size: cover;

}

.picture3{
    height: 50%;
    width: 100%;
    background-image: url('../imgs/photo3.png');
    background-size: cover;

}


.service {
    height: 643px;
    width: 100%;
    background: #28272C;
}

.container-service {

}

.maintitle {
    height: 182px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #28272C;


}
.belt1 {
    height: 100%;
    width: 60px;
    background-color: #28272C;
}

.belt2 {
    height: 100%;
    width: 60px;
    background-color: #28272C;
}

.title {
    height: 100%;
    width: 146px;
    background-color: #28272C;
    display: flex;
    align-items: center;
    font-size: 35px;
}

.title > h2 {
    font-size: 33px;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;

}


.boxes {
    height: 536px;
    width: 100%;
    background-color: #28272C;
    display: flex;
    justify-content: space-evenly;

}

.box2 {
    height: 361px;
    width: 231px;
    background-color: #28272C;

}

h2 {
    margin: 11px;
    font-size: 17px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif
    opacity: 1;

}

p {
    color: #B2B2B2;;
    font-size: 14px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    opacity: 1;
    margin-top: 27px;

}

.photo1 {
    height: 170px;
    width: 170px;
    background-image: url('../imgs/mini1.png');
    margin: auto;

}
.photo2 {
    height: 170px;
    width: 170px;
    background-image: url('../imgs/mini2.png');
    margin: auto;

}
.photo3 {
    height: 170px;
    width: 170px;
    background-image: url('../imgs/mini3.png');
    margin: auto;

}
.photo4 {
    height: 170px;
    width: 170px;
    background-image: url('../imgs/mini4.png');
    margin: auto;

}

.words-service {
    height: 136px;
    width: 231px;
}

.btnn-service {
    height: 40px;
    width: 142px;
    background-color: #28272C;
    margin: auto;
    color: white;


}
.btn-service {
    height: 40px;
    width: 142px;
    background-color: red;
    border-radius: 40px 40px 40px 40px;
    margin: auto;
    color: #FFFFFF;;
    border: none;
    font-family: 'Nunito Sans', sans-serif;
    opacity: 1;
}

.contact {
    height: 643px;
    width: 100%;
    background: grey;
    display: flex;
    align-items: center;

}

.container-contact {
    height: 489px;
    width: 904px;
    background-color: #FF0000;
    margin: auto;
}

.banner-contact {
    height: 82px;
    width: 100%;
    background-color: white;
    display: flex;
    color: black;
}



.main-contact {
    height: calc(100% - 82px);
    width: 100%;
    background-color: white;
    display: flex;

}
.photo-contact {
    height: calc(100% - 90px);
    width: 100%;
    background-color: orange;
    background-image: url('../imgs/Form Photo.png');


}
.form {
    height: 100%;
    width: 100%;
    background-color: aquamarine;

}
footer {
    height: 100px;
    width: 100%;
    background: orange;
}